* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

/* style for SAME elements (button, wrapper...) */

/* HEADER style */

/* ABOUT style */

/* EXPERT style */

.expert {
    min-height: 100vh;
    background-color: #F1F8FF;
}

.wrapper-card {
    padding: 2rem 13rem 0;
}

.row-expert {
    padding-bottom: 3rem;
}

.title-expert {
    margin-bottom: 5rem;
}

.circle-container {
    width: 140px;
    height: 140px;
    margin: auto;
}

.circle-svg {
    width: 8.75rem;
    height: 8.75rem;
    line-height: 7.75rem;
    margin: auto;
    margin-bottom: 4rem;
    border: 2px solid rgba(0, 0, 0, 0.20);
    border-radius: 70px;
}

.title-h2 {
    font-weight: 300;
    font-size: 3.5rem;
    color: rgb(55, 130, 255) ;
}

.title-card-expert{
    font-weight: 700;
    color: rgb(55, 130, 255) ;

}

.prgrf-card-expert {
    line-height: 2;
}

/* WORK style */

.bg-work {
    width: 22rem;
    height: 16rem;
    background-color: rgb(248, 246, 246);
}

.col-line-height {
    line-height: 16rem;
}

/* CLIENTS style */

/* FOOTER style */
